@{
  Layout = "_Layout";
}

<div class="container">
<h1>Order Details: </h1>
<h2>Vendor: </h2>
<h4>@Model["vendor"].Name</h4>
<h2>Vendor Description: </h2>
<h4>@Model["vendor"].Description</h4>
<h2>Order: </h2>
<h4>@Model["order"].Title</h4>
<h2>Order Description: </h2>
<h4>@Model["order"].Description</h4>
<h2>Order Price: </h2>
<h4>@Model["order"].Price</h4>
<h2>Order Date: </h2>
<h4>@Model["order"].Date</h4>

<a href='/vendors/@Model["vendor"].Id/orders/new'>Add another order</a>
<br>
<a href='/vendors'>Return to vendor list</a>
</div>